.company {
  display: flex;

  @include mq(mobile) {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  &-item {
    width: 170px;
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      border: 1px solid var(--accent-color);
    }
  }

  &-logo {
    width: 106px;
    height: 60px;
    fill: #afb1b8;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.company-block {
  @include mq(mobile-only) {
    &:nth-child(2n + 1) {
      margin-right: 30px;
    }
    &:nth-child(-n + 4) {
      margin-bottom: 30px;
    }
  }

  @include mq(tablet-only) {
    margin-right: 30px;

    &:nth-child(-n + 3) {
      margin-bottom: 30px;
    }

    &:nth-child(3n) {
      margin-right: 0;
    }
  }
  @include mq(desktop) {
    &:nth-child(-n + 5) {
      margin-right: 30px;
    }
  }
}

.company-item:hover .company-logo,
.company-item:focus .company-logo {
  fill: var(--accent-color);
}

.container {
  max-width: 480px;
  padding: 0 15px 0 15px;
  margin: 0 auto;

  @include mq(tablet) {
    max-width: 768px;
  }

  @include mq(desktop) {
    max-width: 1200px;
  }
}
