.header {
  border-bottom: 1px solid #ececec;
  padding: 10px 0;
  &-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-icon {
    fill: currentColor;
    margin-right: 10px;
  }
}
.main-navigation {
  display: flex;
  align-items: center;
}
.nav-list {
  display: none;

  @include mq(tablet) {
    display: flex;
    margin-left: 93px;
  }
}

.logo {
  font-family: Raleway;

  &-text-first {
    color: var(--accent-color);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    list-style: none;
  }

  &-text-second {
    color: var(--logo-color);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    list-style: none;
  }
}
.nav-item {
  margin-right: 50px;

  &:last-child {
    margin-bottom: 0;
  }

  @include mq(tablet-only) {
    margin-right: 0;
  }
}

.navigation-tablet-only {
  @include mq(tablet-only) {
    margin-right: 50px;

    &:last-child {
      margin-right: 0;
    }
  }
}
.contacts-link {
  @include mq(tablet-only) {
    margin-bottom: 10px;
  }

  @include mq(desktop) {
    margin-right: 50px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.hero-bnt-menu {
  background-color: transparent;
  border: none;
  right: 0;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 15;

  @include mq(tablet) {
    display: none;
  }
}
