/* == Our team block == */

.our-team-section {
  background-color: var(--section-bg-our-team-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0px;
  padding-left: 0;
}
.team {
  display: block;

  @include mq(tablet) {
    display: flex;
    flex-wrap: wrap;
  }

  @include mq(desktop) {
    display: flex;
  }
}
.persona-info {
  padding: 30px 0 30px 0;
}
.our-team {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-cards + .social-cards {
  margin-left: 10px;
}
.social-link-nav {
  display: block;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background-color: transparent;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link-nav:hover,
.social-link-nav:focus {
  background-color: var(--accent-color);
}
.social-pages {
  width: 22px;
  height: 22px;
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link-nav:hover .social-pages,
.social-link-nav:focus .social-pages {
  fill: var(--primary-bg-color);
}

.social- + .social-pages {
  margin-left: 10px;
}

.our-team-people {
  border: 2px;
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  background-color: var(--primary-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  @include mq(mobile-only) {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @include mq(tablet-only) {
    width: 354px;

    &:nth-child(2n + 2) {
      margin-left: 30px;
    }
    &:nth-child(-n + 2) {
      margin-bottom: 30px;
    }
  }

  @include mq(desktop) {
    margin-left: 30px;

    &:nth-child(1) {
      margin-left: 0;
    }
  }
}

.our-team-professions {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}
