:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
  --section-bg-our-team-color: #f5f4fa;
  --secondary-bg-color: #2f303a;
  --contact-color: rgba(255, 255, 255, 0.6);
  --text-shadow-color: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --logo-color: #000000;
}
